<div class="list-group menu">
    <div class="list-group-item disabled">
        <i class="icon-heart"></i>
        {{ 'favorites_sidebar_title'|trans }}
    </div>

    {% for favorite in favorites %}
    <a class="list-group-item" target="_blank" href="{{ path('claro_resource_open', {'node': favorite.id, 'resourceType': favorite.resourceType.name }) }}">{{ favorite.name }}</a>
    {% endfor %}
</div>