<div class="list-group menu">
    <div class="list-group-item disabled">
        <i class="icon-heart"></i>
        Favorites
    </div>

    {% for favorite in favorites %}
    <a class="list-group-item" href="#">{{ favorite.name }}</a>
    {% endfor %}
</div>